<div class="h-[285px] w-[432px] rounded-[15px] py-5 px-[30px] ">
    <div class="w-full flex justify-between">
        <p class="text-[20px] text-[#1F2A37] font-[600] leading-[24.2px]">{{data.elementData.name.split(' ')[0]}}</p>
        <button (click)="closeDialog()" autofocus="off"
            class="focus-visible:outline-none hover:bg-slate-200 rounded px-1 -me-1">
            <img src="../../assets/cross.svg" alt="cancel">
        </button>
    </div>
    <div class="mt-[30px] ">
        <div class="flex justify-between text-[#1F2A37] font-[600] text-[16px] leading-[19.36px]">
            <p>{{data.elementData.name}}</p>
            <p class="text-[20px]">${{data.elementData.price}}</p>
        </div>
        <div class="flex justify-between mt-[6px] text-[#1F2A37] font-[600] text-[16px] leading-[19.36px]">
            <p class="text-[#6B7280] font-[500] leading-[24px]">{{data.elementData.short}}</p>
            <p class="text-[14px] text-green_color">({{data.elementData.percentage}}%)</p>
        </div>
    </div>
    <div class="w-full text-[16px] flex flex-col gap-y-[10px] text-white  mt-[30px]">
        <button
            class="rounded-[6px] bg-green_color w-full h-[48px] flex items-center justify-center gap-x-[8px] transition-transform hover:scale-[1.02]">
            <img src="../../assets/increase.svg" alt="increase">
            <p class="text-[16px] font-semibold">Buy</p>
        </button>
        <button
            class="rounded-[6px] bg-red_color w-full h-[48px] flex items-center justify-center gap-x-[8px] transition-transform hover:scale-[1.02]">
            <img src="../../assets/tag.svg" alt="tag">
            <p class="text-[16px] font-semibold">Sell</p>
        </button>
    </div>
</div>